.container {
    display: grid;
    height: 98vh;
    width: 98vw;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
}

.heading{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.mainpagelinks {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    grid-gap: 2rem;
}

.title{
    text-align: center;
    grid-column: 1/ span 3;
}

.sidebarlinks{
    grid-column: 1/ span 1;
    grid-row: 2/ span 4;
    font-size: 3rem;
}

.content{
    grid-column: 2/ span 2;
    grid-row: 2/ span 4;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    text-align: center;
}

.sublinks{
    display: grid;
    grid-row-gap: .05rem;
}

/* Content Part*/

.review__window {
    justify-content: center;
    opacity: 1;
    height: auto;
    width: auto;
    border: 2px solid yellow;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 1px 1px 0px 2px lighten(#000, 0.5);
}

.review__image {
    background-image: url("russetreviewbanner.jpg");
    height: 6rem;
    background-size: cover;
}

.review__content {
    font-size: 1rem;
    font-family: sans-serif;
}

h4 {
    color: gray;
}

i {
    color: blue;
}

/* body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
} */

.review__window h2 {
    margin-top: 1rem;
}

p {
    padding: 1rem;
}

.potato__categories{
    grid-column-start: 2;
    grid-column-end: 3;
}

.review__links{
    grid-column-start: 2;
    grid-column-end: 3;
}