body {
    background-image: url(./potato.jpg);
    background-repeat: no-repeat;

    background-size: 100vw 100vh;


}


h1 {
    padding-bottom: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 3px;



}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: aliceblue;
    margin-top: 0px;
}

a {

    color: aliceblue;
    font-size: 3rem;
    font-family: sans-serif;
    font-variant: small-caps;

}

p {
    text-align: center;
}