body {
    background-image: url(./potato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    padding-bottom: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 3px;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: aliceblue;
    margin-top: 0px;
}

a {
    color: aliceblue;
    font-size: 1rem;
    font-family: sans-serif;
    font-variant: small-caps;
    text-decoration: none;
}

.russetlink{
    font-size: 2rem;
}

.fingerlinglink{
    font-size: 2rem;
}

a:hover {
    font-weight: bolder;
    transition: all 0.5s ease;
}

.categories{
    text-decoration: none;
    padding: 3rem;
    font-size: 3rem;
    border: 1px solid yellow;
    background-color: rgba(246, 248, 91, 0.45);
}

.hashtags{
    text-decoration: none;
    padding: 3rem;
    font-size: 3rem;
    border: 1px solid yellow;
    background-color: rgba(246, 248, 91, 0.45);
}

.title {
    background-color: rgba(246, 248, 91, 0.45);
    border: 1px solid yellow;
    font-family: 'Saira Stencil One', cursive;
}

.sidebarlinks{
    background-color: rgba(246, 248, 91, 0.45);
    border: 1px solid yellow;
    color: aliceblue;
    font-size: 1rem;
    font-family: sans-serif;
    font-variant: small-caps;
    text-decoration: none;
}

.content{
    background-color: rgba(83, 31, 1, 0.55);
    color: aliceblue;
    border-style: solid;
    border-color: rgba(83, 31, 1, 1);
    border-width: 1px;
}

.potato__categories{
    padding:10px;
    margin-left: 36px;
    font-size: 1rem;
    font-family: sans-serif;
}

.potato__categories a{
    font-size: 2rem;
    margin-right: 2rem;
}

.potato__categories span{
    font-size: 1rem;
}

.cat{
    font-size: 3rem;
    color: aliceblue;
    text-decoration: none;
}

.has{
    font-size: 3rem;
    color: aliceblue;
    text-decoration: none;
}

.mainpagelinks{
    text-align: center;
}

.heading {
    background-color: rgba(246, 248, 91, 0.45);
    border: 1px solid yellow;
    font-family: 'Saira Stencil One', cursive;
}

.homesidebar{
    font-size: 1.5rem;
}

.categoriessidebar{
    font-size: 1.5rem;
}

.hashtagsidebar{
    font-size: 1.5rem;
}

.submissionsidebar{
    font-size: 1.5rem;
}

.sublinks{
    font-size: 1rem;
}

.sublinks li{
list-style-type: none;
padding: .3rem;
}

h4 {
    color: gray;
}

i {
    color: blue;
}

.review__links a{
    font-size: 2rem;
}

.taglinks{
    margin: 1rem auto;
    width: 20rem;
    display: block;
    font-size: 2rem;
    text-align: center;
    border: 1px solid yellow;
    background-color: rgba(246, 248, 91, 0.45);
}