<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet"/>
    <title th:text="${category.categoryName}">Categories</title>
    <link rel="stylesheet" href="./css/styles.css" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="./css/layout.css" th:href="@{/css/layout.css}" type="text/css"/>
</head>

<body>
<div class="container">
    <section class="title">
        <h1>Potato Party!</h1>
        <h2 th:text="${category.categoryName}">Category Name</h2>

    </section>
    <section class="sidebarlinks">
        <a class="homesidebar" href="index.html">Home</a><br>
        <a class="hashtagsidebar" href="hashtags.html">Hashtags</a><br>
        <a class="categoriessidebar" href="categories.html">Categories</a><br>
        <ul class="sublinks">
            <li><a href="yellow.html">Yellow</a></li>
            <li><a href="red.html">Red</a></li>
            <li><a href="white.html">White</a></li>
            <li><a href="blue.html">Blue</a></li>
            <li><a href="russet.html">Russet</a></li>
            <li><a href="fingerling.html">Fingerling</a></li>
            <li><a href="petite.html">Petite</a></li>
        </ul>
    </section>
    <section class="content">
        <p class="potato__tags">
        <ul >
            <li class="review_list_link" th:each="review:${reviews}">
                <a class="review-list-links__link" th:href="@{'/review/'+ ${review.id}}"
                   th:text="${review.reviewName}"></a>
            </li>
        </ul>
        </p>
    </section>


</div>
</body>

</html>