<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet" />
    <title>Potato Reviews</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/layout.css" />
</head>

<body>
    <div class="container">
        <section class="title">
            <h1>Potato Party!</h1>
            <h2>Subtitle</h2>
        </section>
        <section class="sidebarlinks">
            <a class="homesidebar" href="index.html">Home</a><br>
            <a class="hashtagsidebar" href="hashtags.html">Hashtags</a><br>
            <a class="categoriessidebar" href="categories.html">Categories</a><br>
            <div class="sublinks">
                <a href="yellow.html">Yellow</a><br>
                <a href="red.html">Red</a><br>
                <a href="white.html">White</a><br>
                <a href="blue.html">Blue</a><br>
                <a href="russet.html">Russet</a><br>
                <a href="fingerling.html">Fingerling</a><br>
                <a href="petite.html">Petite</a><br>
            </div>
        </section>
        <section class="content">
            <section class="review review1">
                <div class="review__image">

                </div>
                <div class="authur">
                    <h2 th:text="${review.reviewAuthor}">Author, NY</h2>
                    <h4 th:text="${review.reviewDate}">02/03/2020</h4>
                    <h4 th:text="${review.reviewRating}"> Rating
                    </h4>
                </div>
                <div class="review__content">
                    <p th:text="${review.reviewText}"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Perferendis porro veniam provident
                        iusto temporibus cupiditate! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
                        corporis magni dolorum, quasi qui ut itaque ipsam quos quibusdam similique debitis repellat
                        quam. Incidunt optio dolorum excepturi. Nam aut veritatis fugit culpa necessitatibus architecto,
                        expedita numquam omnis velit sequi odio tempora adipisci debitis earum quibusdam maiores
                        blanditiis temporibus quidem. Error</p>
                </div>
                <div class="hashtag">
                    <p th:text="${review.reviewHashTags}">#potatoes1, #Potatoes2</p>
                </div>

            </section>
        </section>

    </div>
</body>

</html>