<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet"/>
    <title>Hashtags</title>
    <link rel="stylesheet" href="./css/styles.css" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="./css/layout.css" th:href="@{/css/layout.css}" type="text/css"/>
</head>

<body>
<div class="container">
    <section class="title">
        <h1>Potato Party!</h1>
        <h2>Potato Hashtags</h2>

    </section>
    <section class="sidebarlinks">
        <a class="homesidebar" href="index.html">Home</a><br>
        <a class="hashtagsidebar" href="/hashtags">Hashtags</a><br>
        <a class="categoriessidebar" href="/categories">Categories</a><br>
        <ul class="sublinks">
            <li><a href="/categories/Russet">Russet</a></li>
            <li><a href="/categories/Yellow">Yellow</a></li>
            <li><a href="/categories/White">White</a></li>
            <li><a href="/categories/Blue">Blue</a></li>
            <li><a href="/categories/Fingerling">Fingerling</a></li>
            <li><a href="/categories/Red">Red</a></li>
        </ul>
    </section>
    <section class="content">
        <p class="potato__tags">
        <p th:each="hashtag:${hashtag}"><a th:href="@{'/hashtag/'+ ${hashtag.id}}">hashtag</a>
        </p>
    </section>


</div>
</body>

</html>