<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="./css/styles.css" th:href="@{/css/style.css}" type="text/css"/>
  <link rel="stylesheet" href="./css/layout.css" th:href="@{/css/layout.css}" type="text/css"/>
  <title>Potato Party!</title>
</head>

<body>

  <div class="heading">
    <h1>Potato Party!</h1>

    <h2>The world's #1 potato review website!</h2>
  </div>
  <section class="mainpagelinks">
    <p class="categories">
      <a class="cat" href="./ListOfCategories.html">Categories</a>
    </p>
    <p class="hashtags">
      <a class="has" href="./ListOfHashtags.html">Hashtags</a>
    </p>
  </section>

</body>

</html>