<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet"/>
    <title>Hashtags</title>
    <link rel="stylesheet" href="./css/styles.css" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="./css/layout.css" th:href="@{/css/layout.css}" type="text/css"/>
</head>

<body>
<div class="container">
    <section class="title">
        <h1>Potato Party!</h1>
        <h2>Potato Hashtags</h2>

    </section>
    <section class="sidebarlinks">
        <a class="homesidebar" href="index.html">Home</a><br>
        <a class="hashtagsidebar" href="ListOfHashtags.html">Hashtags</a><br>
        <a class="categoriessidebar" href="ListOfCategories.html">Categories</a><br>
        <ul class="sublinks">
            <li><a href="yellow.html">Yellow</a></li>
            <li><a href="red.html">Red</a></li>
            <li><a href="white.html">White</a></li>
            <li><a href="blue.html">Blue</a></li>
            <li><a href="russet.html">Russet</a></li>
            <li><a href="fingerling.html">Fingerling</a></li>
            <li><a href="petite.html">Petite</a></li>
        </ul>
    </section>
    <section class="content">
        <p class="potato__tags">
        <p th:each="hashtag:${hashtags}"><a th:href="@{'/hashtag/'+ ${hashtag.hashtagName}}">hashtag</a>

    </p>
    </section>


</div>
</body>

</html>